dotenv

# Check the value of the ENVIRONMENT variable
if [[ "$ENVIRONMENT" == "production" ]]; then
    # Load production environment variables from .env.production
    source_env ".envrc.production"
elif [[ "$ENVIRONMENT" == "development" ]]; then
    # Load development environment variables from .env.development
    source_env ".envrc.development"
else
    echo "Error: Invalid value for ENVIRONMENT variable in .env."
    exit
fi
